<div class="example-container mat-elevation-z8">
  <md-progress-spinner *ngIf="!users" class="progress-spinner" [color]="'primary'" [mode]="'indeterminate'">
  </md-progress-spinner>
  <md-table #table [dataSource]="dataSource" mdSort>

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- ID Column -->
    <ng-container cdkColumnDef="userId">
      <md-header-cell *cdkHeaderCellDef md-sort-header> ID </md-header-cell>
      <md-cell *cdkCellDef="let row"> {{row.userId}} </md-cell>
    </ng-container>

    <!-- name Column -->
    <ng-container cdkColumnDef="name">
      <md-header-cell *cdkHeaderCellDef md-sort-header> Progress </md-header-cell>
      <md-cell *cdkCellDef="let row"> {{row.name}} </md-cell>
    </ng-container>

     <!-- Name Column 
    <ng-container cdkColumnDef="userName">
      <md-header-cell *cdkHeaderCellDef md-sort-header> Name </md-header-cell>
      <md-cell *cdkCellDef="let row"> {{row.name}} </md-cell>
    </ng-container> -->

    <!-- surname Column -->
    <ng-container cdkColumnDef="surname">
      <md-header-cell *cdkHeaderCellDef md-sort-header> Name </md-header-cell>
      <md-cell *cdkCellDef="let row"> {{row.surname}} </md-cell>
    </ng-container>

    <!-- surname Column -->
    <ng-container cdkColumnDef="email">
      <md-header-cell *cdkHeaderCellDef md-sort-header> Name </md-header-cell>
      <md-cell *cdkCellDef="let row"> {{row.email}} </md-cell>
    </ng-container>
    <!-- Color Column -->
    <!-- <ng-container cdkColumnDef="color">
      <md-header-cell *cdkHeaderCellDef md-sort-header> Color </md-header-cell>
      <md-cell *cdkCellDef="let row" [style.color]="row.color"> {{row.color}} </md-cell>
    </ng-container> -->

    <!-- icon Column -->
    <ng-container cdkColumnDef="color">
      <md-header-cell *cdkHeaderCellDef> Actions </md-header-cell>
      <md-cell *cdkCellDef="let row">
        <button (click)="onEditClick()"><md-icon>border_color</md-icon></button>
        <button (click)="onDescClick()"><md-icon>description</md-icon></button>
        <button (click)="onDeleteClick()"><md-icon>delete</md-icon></button>
      </md-cell>

    </ng-container>

    <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
    <md-row *cdkRowDef="let row; columns: DisplayedColumns;"></md-row>
  </md-table>


  <md-paginator #paginator [length]="usersDatabase.data.length" [pageIndex]="0" [pageSize]="25" [pageSizeOptions]="[5, 10, 25, 100]">
  </md-paginator>
</div>