<div id="left">
    <h2 class="section-title">{{ 'taskList' | translate }}</h2>
    <div>
        <md-progress-spinner *ngIf="!tasks" class="progress-spinner" [color]="'primary'" [mode]="'indeterminate'">
        </md-progress-spinner>
        <md-list>
            <md-list-item *ngFor="let task of tasks">
                <img md-list-avatar src="assets/images/tasks/default.png">
                <h3 md-line [ngClass]="{'cp': true}"> {{task.name}} </h3>
                <p md-line [ngClass]="{'cp': true}">
                    <span>Task description</span>
                </p>
                <button md-raised-button (click) = "seeTasDetails(task)">{{ 'seeCarDetailsButton' | translate }}</button>
            </md-list-item>
        </md-list>
    </div>
</div>

<div class="clear"></div>