<div id="left">
    <h2 class="section-title">{{ 'carList' | translate }}</h2>
    <div>
        <md-progress-spinner *ngIf="!cars" class="progress-spinner" [color]="'primary'" [mode]="'indeterminate'">
        </md-progress-spinner>
        <md-list>
            <md-list-item *ngFor="let car of cars">
                <img md-list-avatar src="assets/images/cars/default.png">
                <h3 md-line [ngClass]="{'cp': true}"> {{car.name}} </h3>
                <p md-line [ngClass]="{'cp': true}">
                    <span>{{car.description}}</span>
                </p>
                <button md-raised-button (click) = "seeCarDetails(car)">{{ 'seeCarDetailsButton' | translate }}</button>
            </md-list-item>
        </md-list>
    </div>
</div>

<div class="clear"></div>