<form [formGroup]="newHolidayForm" #form="ngForm" (ngSubmit)="createNewHoliday(newHolidayForm.value)" >
  <h2 md-dialog-title>{{ 'holidayRequest' | translate }}</h2>
  <hr>
  <md-dialog-content>
    {{data.name}} {{data.surname}} prosi o urlop od 
    <md-input-container>
      <input class="md-datapicker" mdInput [mdDatepicker]="picker" placeholder="Choose a date" formControlName="beginDate"> <!-- (ngModelChange)="createNewHoliday()"> -->
      <button mdSuffix [mdDatepickerToggle]="picker"></button>
    </md-input-container>
    <md-datepicker #picker [touchUi]="true"></md-datepicker>
    do
    <md-input-container>
      <input class="md-datapicker" mdInput [mdDatepicker]="picker1" placeholder="Choose a date" formControlName="endDate"> <!-- (ngModelChange)="createNewHoliday()"> -->
      <button mdSuffix [mdDatepickerToggle]="picker1"></button>
    </md-input-container>
    <md-datepicker #picker1 [touchUi]="true"></md-datepicker>
    rodzaj urlopu
    <md-select class="md-option" placeholder="wybierz" formControlName="holidayType">
        <md-option *ngFor="let holidayType of holidayTypes" [value]="holidayType.value">
          {{ holidayType.viewValue }}
        </md-option>
      </md-select>
  </md-dialog-content>
  <hr>
  <md-dialog-actions>
    <button md-raised-button class="button" [disabled]="!newHolidayForm.valid" (click)="onCloseConfirm(data , picker._selected , picker1._selected)">Zatwierdż</button>
    <button md-raised-button class="button" (click)="onCloseCancel()">odrzuć</button>
  </md-dialog-actions>
</form>